{% extends "layout.html" %}

{% block header %}
<h3><a href="/weathers">* BACK</a></h3>
<h1>Add a new Weather</h1>
{% endblock %}

{% block content %}
{% if message %}
<h1>{{message}}</h1>
<br>
{% endif %}
<form action="/admin/addweather" method="post" enctype="multipart/form-data">
    
    <label class="form-label">Name</label>
    <br><br>
    <input type="text" name="name" required>
    <br><br><br>

    <label class="form-label">Description</label>
    <br><br>
    <textarea name="description" class="text-area-input"></textarea>
    <br><br><br>

    <label class="form-label">Moons</label>
    <br>
    {% for moon in moons %}
    <br>
    <input type="checkbox" name="{{'moon' + moon[0]|string}}">
    <label style="font-size: 125%;">{{moon[1]}}</label>
    {% endfor %}
    <br><br><br>

    <label class="form-label">Header Picture</label>
    <br><br>
    <input type="file" name="header_picture" accept="image/*" required>
    <br><br><br>

    <input type="submit" value="Add Weather" class="submit-button">
    <br><br><br>

</form>
{% endblock %}