{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/weathers">* BACK</a></h3>
    <h1>{{title}}</h1>
</div>
<div>
    <img src="{{url_for('static', filename='images/Weathers/' + params['id'] | string + '/' + params['header_picture'] + '.jpg')}}" alt="placeholder" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}

<h2>Description:</h2>
<p class="descriptions">{{ params['description'] | replace('\n', '<br>' | safe)}}</p>

<h2>Moons that can have this weather:</h2>
{% for moon in params["moons"] %}

<h3><a href="/moons/{{moon[0]}}">* {{moon[1]}}</a></h3>

{% endfor %}

<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div class="pictures">
        <img src="../static/images/Weathers/{{params['id']}}/{{i}}.jpg" alt="{{i}}">
    </div>
    {% endfor %}
</div>

{% endblock %}