{% extends "layout.html" %}

{% block header %}
<h3><a href="/entity">* BACK</a></h3>
<h1>Add a new Entity</h1>
{% endblock %}

{% block content %}
<form action="/admin/addentity" method="post">

    <label class="form-label">Name</label>
    <br><br>
    <input type="text" name="name" maxlength="30" required>
    <br><br><br>

    <label class="form-label">Danger Rating</label>
    <br><br>
    <input type="number" name="danger_rating">
    <br><br><br>

    <label class="form-label">Bestiary</label>
    <br><br>
    <textarea name="bestiary" class="text-area-input"></textarea>
    <br><br><br>

    <label class="form-label">Setting</label>
    <br><br>
    <select name="setting">
        {% for setting in settings %}
        <option value="{{setting[0]}}">{{setting[1]}}</option>
        {% endfor %}
    </select>
    <br><br><br>

    <label class="form-label">Favourite Moon</label>
    <br><br>
    <select name="fav_moon">
        {% for moon in moons %}
        <option value="{{moon[0]}}">{{moon[1]}}</option>
        {% endfor %}
    </select>
    <br><br><br>

    <label class="form-label">Single Player Health</label>
    <br><br>
    <input type="number" name="sp_hp">
    <br><br><br>

    <label class="form-label">Multiplayer Health</label>
    <br><br>
    <input type="number" name="mp_hp">
    <br><br>
    <input type="checkbox" name="invincible">
    <label class="form" style="font-size: 125%;">Invincible</label>
    <br><br><br>

    <label class="form-label">Power</label>
    <br><br>
    <input type="number" name="power">
    <br><br><br>

    <label class="form-label">Max Spawned</label>
    <br><br>
    <input type="number" name="max_spawned">
    <br><br><br>

    <label class="form-label">Description</label>
    <br><br>
    <textarea name="description" class="text-area-input"></textarea>
    <br><br><br>

    <input type="submit" value="Add Entity" class="submit-button">
    <br><br><br>
    
</form>
{% endblock %}