{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/entity">* BACK</a></h3>
    {% if admin %}
    <h2><a href="/admin/entity/addimage/{{params['id']}}">* Add Image</a></h2>
    <h2><a href="/admin/entity/deleteimage/{{params['id']}}">* Remove Image</a></h2>
    {% endif %}
    <h1 class="page-header">{{title}}</h1>
</div>
<div class="header-image-div">
    <img src="{{url_for('static', filename='images/Entities/' + params['id'] | string + '/' + params['header_picture'])}}" alt="placeholder" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}

<h2>Danger Rating: <span class="info">{{params["danger"]}}/10</span></h2>
{% if params["sp_hp"] == params["mp_hp"] %}
<h2>
    {% if params["sp_hp"] == -1 %}
    Health: <span class="info">Invincible</span>
    {% else %}
    Health: <span class="info">{{params["sp_hp"]}} HP</span>
    {% endif %}
</h2>
{% else %}
<h2>Single Player Health: <span class="info">{{params["sp_hp"]}} HP</span></h2>
<h2>Multiplayer Health: <span class="info">{{params["mp_hp"]}} HP</span></h2>
{% endif %}
<h2>Power Level: <span class="info">{{params["power"]}}</span></h2>
<h2>Max Spawn Count: <span class="info">{{params["max_spawned"]}}</span></h2>
<h2>Favourite Moon: <a href="/moons/{{params['fav_moon_id']}}"><span class="link info">{{params["fav_moon"]}}</span></a></h2>
<h2>Spawns: <span class="info">{{params["setting"]}}</span></h2>
<h2>Bestiary: </h2>
{% if params['bestiary'] %}
<p class="descriptions"><span class="info">{{ params['bestiary'] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3><span class="info">No Bestiary</span></h3>
{% endif %}
<h2>My Description: </h2>
{% if params['description'] %}
<p class="descriptions"><span class="info">{{ params['description'] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3>No Description</h3>
{% endif %}
<h2>Gallery:</h2>
<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div class="pictures">
        <img src="../static/images/Entities/{{params['id']}}/{{i}}" alt="{{i}}">
    </div>
    {% endfor %}
</div>
{% endblock %}