{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/">* HOME PAGE</a></h3>
    <h3><a href="/interiors">* BACK</a></h3>
    {% if admin %}
    <h2><a href="/admin/interiors/addimage/{{params['id']}}">* Add Image</a></h2>
    <h2><a href="/admin/interiors/deleteimage/{{params['id']}}">* Remove Image</a></h2>
    {% endif %}
    <h1 class="page-header">{{title}}</h1>
</div>
<div class="header-image-div">
    <img src="{{url_for('static', filename='images/Interiors/' + params['id'] | string + '/' + params['header_picture'])}}" alt="placeholder" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}

<h2>Description: </h2>
{% if params['description'] %}
<p class="descriptions"><span class="info">{{ params['description'] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3><span class="info">No Description</span></h3>
{% endif %}

<h2>Moons that most commonly have this interior:</h2>
{% if moon_data %}
{% for moon in moon_data %}

<h3><a href="/moons/{{moon[0]}}"><span class="info link">* {{moon[1]}}</span></a></h3>

{% endfor %}
{% else %}
<h3><span class="info">No Moons</span></h3>
{% endif %}
<h2>Gallery:</h2>
<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div class="pictures">
        <img src="../static/images/Interiors/{{params['id']}}/{{i}}" alt="{{i}}" width="50%">
    </div>
    {% endfor %}
</div>
{% endblock %}