{% extends "layout.html" %}

{% block header %}
<h3><a href="/interiors">* BACK</a></h3>
<h1>Add a new Interior</h1>
{% endblock %}

{% block content %}
{% if message %}
<h1>{{message}}</h1>
<br>
{% endif %}
<form action="/admin/addinterior" method="post", enctype="multipart/form-data">
    
    <label class="form-label">Name</label>
    <br><br>
    <input type="text" name="name" required>
    <br><br><br>

    <label class="form-label">Description</label>
    <br><br>
    <textarea name="description" class="text-area-input"></textarea>
    <br><br><br>

    <label class="form-label">Header Picture</label>
    <br><br>
    <input type="file" name="header_picture" accept="image/*" required>
    <br><br><br>

    <input type="submit" value="Add Interior" class="submit-button">
    <br><br><br>

</form>
{% endblock %}