{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/tools">* BACK</a></h3>
    {% if admin %}
    <h2><a href="/admin/tools/addimage/{{params['id']}}">* Add Image</a></h2>
    <h2><a href="/admin/tools/deleteimage/{{params['id']}}">* Remove Image</a></h2>
    {% endif %}
    <h1 class="page-header">{{title}}</h1>
</div>
<div class="header-image-div">
    <img src="{{url_for('static', filename='images/Tools/' + params['id'] | string + '/' + params['header_picture'])}}" alt="placeholder" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}

<h2>Price: <cred>▮</cred><span class="info">{{params["price"]}}</span></h2>

{% if params['upgrade'] == 1 %}
<h2>Type: <span class="info">Ship Upgrade</span></h2>
{% else %}
<h2>Type: <span class="info">Item</span></h2>
<h2>
    {% if params["weight"] == -1 %}
    Weight: <span class="info">Cannot be picked up</span>
    {% else %}
    Weight: <span class="info">{{params["weight"]}} lbs</span>
    {% endif %}
</h2>
{% endif %}

<h2>Description:</h2>
{% if params['description'] %}
<p class="descriptions"><span class="info">{{ params['description'] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3><span class="info">No Description  </h3>
{% endif %}
<h2>Gallery:</h2>
<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div>
        <img src="../static/images/Tools/{{params['id']}}/{{i}}" alt="{{i}}">
    </div>
    {% endfor %}
</div>

{% endblock %}