{% extends "layout.html" %}

{% block header %}
<h3><a href="/">* HOME PAGE</a></h3>
<h3><a href="/">* BACK</a></h3>
{% if admin %}
<h2><a href="/admin/tools/add">* Add Tool</a></h2>
<h2><a href="/admin/tools/delete">* Remove Tool</a></h2>
{% endif %}
<h1 class="page-header">Welcome to the Tools Catalogue</h1>

{% endblock %}

{% block content %}

<div class="grouping-border">

<h1 class="group-header">Items</h1>

{% for tool in params[0] %}

<h2><a href="/tools/{{tool['id']}}">* {{tool["name"]}} <cred class="link">▮</cred>{{tool["price"]}}</a></h2>

{% endfor %}

</div>
<br>
<div class="grouping-border">

<h1 class="group-header">Ship Upgrades</h1>

{% for tool in params[1] %}

<h2><a href="/tools/{{tool['id']}}">* {{tool["name"]}} <cred class="link">▮</cred>{{tool["price"]}}</a></h2>

{% endfor %}

</div>


{% endblock %}