{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/tools">* BACK</a></h3>
    <h1>{{title}}</h1>
</div>
<div class="header-image-div">
    <img src="{{url_for('static', filename='images/Tools/' + params['id'] | string + '/' + params['header_picture'] + '.jpg')}}" alt="placeholder" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}

<h2>Price: <cred>▮</cred>{{params["price"]}}</h2>

{% if params['upgrade'] == 1 %}
<h2>Type: Ship Upgrade</h2>
{% else %}
<h2>Type: Item</h2>
<h2>
    {% if params["weight"] == -1 %}
    Weight: Cannot be picked up
    {% else %}
    Weight: {{params["weight"]}} lbs
    {% endif %}
</h2>
{% endif %}

<h2>Description:</h2>
<p class="descriptions">{{ params['description'] | replace('\n', '<br>' | safe)}}</p>

<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div>
        <img src="../static/images/Tools/{{params['id']}}/{{i}}.jpg" alt="{{i}}">
    </div>
    {% endfor %}
</div>

{% endblock %}