{% extends "layout.html" %}

{% block header %}

<h3><a href="/">* BACK</a></h3>
{% if admin %}
<h2><a href="/admin/tools/add">* Add Tool</a></h2>
<h2><a href="/admin/tools/delete">* Remove Tool</a></h2>
{% endif %}
<h1>Welcome to the Tools Catalogue</h1>

{% endblock %}




{% block content %}
<!--
<form action="/tools" method="post">
    <select name="sort">
        {% for i in sort %}
        <option value="{{i}}">{{sort[i][0]}}</option>
        {% endfor %}
    </select>

    <select name="sortdir">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
    </select>

    <input type="submit" value="Sort">
</form>
-->

<h1>Items:</h1>

{% for tool in params[0] %}

<h2><a href="/tools/{{tool['id']}}">* {{tool["name"]}} {{tool["price"]}}<cred class="link">▮</cred></a></h2>

{% endfor %}

<h1>Ship Upgrades:</h1>

{% for tool in params[1] %}

<h2><a href="/tools/{{tool['id']}}">* {{tool["name"]}} {{tool["price"]}}<cred class="link">▮</cred></a></h2>

{% endfor %}

{% endblock %}