{% extends "layout.html" %}

{% block header %}
<h3><a href="/tools">* BACK</a></h3>
<h1 class="page-header">Add a new Tool</h1>
{% endblock %}

{% block content %}
{% if message %}
<h1>{{message}}</h1>
<br>
{% endif %}
<form action="/admin/addtool" method="post" enctype="multipart/form-data">
    
    <label class="form-label">Name</label>
    <br><br>
    <input type="text" name="name" required>
    <br><br><br>

    <label class="form-label">Price</label>
    <br><br>
    <input type="number" name="price">
    <br><br><br>

    <label class="form-label">Description</label>
    <br><br>
    <textarea name="description" class="text-area-input"></textarea>
    <br><br><br>

    <label class="form-label">Upgrade</label>
    <br><br>
    <input type="checkbox" name="upgrade">
    <label style="font-size: 125%;">True</label>
    <br><br><br>

    <label class="form-label">Weight</label>
    <br><br>
    <input type="number" name="weight">
    <br><br><br>

    <label class="form-label">Header Picture</label>
    <br><br>
    <input type="file" name="header_picture" accept="image/*" required>
    <br><br><br>

    <input type="submit" value="Add Tool" class="submit-button">
    <br><br><br>

</form>

{% endblock %}