@import url('https://fonts.googleapis.com/css2?family=Handjet');

* {
    background-color: rgb(32, 31, 31);
    color: rgb(83, 221, 58);
    font-family: "Handjet";
    text-decoration: none;
    /*font-size: 50px;*/
    font-weight: normal;
}

body {
    margin-left: 10%;
}

.extra-spacing {
    white-space: pre-wrap;
}

.inline {
    display: inline;
}

cred{
    font-size: 20px
}

.descriptions{
    border: 1px solid rgb(83, 221, 58);;
    padding: 10px;
    width: 40%;  
}

select, input{
    font-size: 150%;
    border: 1px solid rgb(83, 221, 58);
}

input{
    color: black;
    background-color: rgb(83, 221, 58);
    border: 1px solid rgb(61, 161, 44);
}