@import url('https://fonts.googleapis.com/css2?family=Handjet');

* {
    background-color: rgb(32, 31, 31);
    color: rgb(83, 221, 58);
    font-family: "Handjet";
    text-decoration: none;
    /*font-size: 50px;*/
    font-weight: normal;
}

body {
    margin-left: 10%;
}

.extra-spacing {
    white-space: pre-wrap;
}

.inline {
    display: inline;
}

cred{
    font-size: 20px
}

.descriptions{
    border: 1px dashed rgb(83, 221, 58);;
    padding: 10px;
    width: 30%;  
}

select, input{
    font-size: 150%;
    border: 1px dashed rgb(83, 221, 58);
}

input{
    color: black;
    background-color: rgb(83, 221, 58);
    border: 1px solid rgb(61, 161, 44);
}

.pictures-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.moon-entry{
    width: auto;
    font-size: inherit;
}

.form-label{
    font-size: 150%;
}

.text-area-input{
    font-size: 130%;
}

.link{
    color: inherit;
}

a:hover{
    color: white;
}

.submit-button:hover{
    color: black;
    background-color: white;
}

.home-page-link{
    width: 20%;
}

.grouping-border{
    border: 2px dashed rgb(83, 221, 58);
    width: 25%;
    padding-left: 2%;
}

.moon-group-header{
    text-decoration: underline;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.header{
    border-bottom: 2px dashed rgb(83, 221, 58);
    padding-bottom: 2%;
    margin-bottom: 2%;
    width: 50%;
    padding-right: 2%;
}

img{
    width: 50%;
}

.header-image{
    width: 70%;
}

.header-image-div{
    text-align: right;
}

