{% extends "layout.html" %}

{% block header %}
<h3><a href="/enemies">* Back</a></h3>
<h1>{{params['name']}}</h1>
{% endblock %}

{% block content %}

<h2>Danger rating: {{params['danger_rating']}}</h2>
{% if params['sp_hp'] == params['mp_hp'] %}
<h2>Health: {{params['sp_hp']}}</h2>
{% else %}
<h2>Health: Singleplayer = {{params['sp_hp']}}, Multiplayer = {{params['mp_hp']}}</h2>
{% endif %}
<h2>Power Level: {{params['power']}}</h2>
<h2>Favourite Moon: {{params['fav_moon']}}</h2>
<h2>Spawns: {{params['setting']}}</h2>
<h2>Description:</h2>
<p>{{params['description']}}</p>

{% endblock %}