{% extends "layout.html" %}

{% block header %}

<h3><a href="/">* BACK</a></h3>
<h1>Welcome to the Entity List</h1>

{% endblock %}

{% block content %}


<form action="/entity" method="post" class="sort-box">
    <select name="sort">
        {% for i in sort %}
        <option value="{{i}}">{{sort[i][0]}}</option>
        {% endfor %}
    </select>

    <select name="sortdir">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
    </select>

    <input type="submit" value="Sort">
</form>


<h1>Indoor Entities:</h1>
{% for entity in params[0] %}

<h2><a href="/entity/{{entity['id']}}">* {{entity["name"]}}</a></h2>

{% endfor %}

<h1>Outdoor Entities at Nighttime</h1>
{% for entity in params[1] %}

<h2><a href="/entity/{{entity['id']}}">* {{entity["name"]}}</a></h2>

{% endfor %}

<h1>Outdoor Entities at Daytime</h1>
{% for entity in params[2] %}

<h2><a href="/entity/{{entity['id']}}">* {{entity["name"]}}</a></h2>

{% endfor %}


{% endblock %}