{% extends "layout.html" %}

{% block header %}

<h3><a href="/entity">* BACK</a></h3>
<h1>{{title}}</h1>

{% endblock %}

{% block content %}

<h2>Danger Rating: {{params["danger"]}}</h2>
{% if params["sp_hp"] == params["mp_hp"] %}
<h2>Health: {{params["sp_hp"]}} HP</h2>
{% else %}
<h2>Single Player Health: {{params["sp_hp"]}} HP</h2>
<h2>Multiplayer Health: {{params["mp_hp"]}} HP</h2>
{% endif %}
<h2>Power Level: {{params["power"]}}</h2>
<h2>Max Spawn Count: {{params["max_spawned"]}}</h2>
<h2>Favourite Moon: {{params["fav_moon"]}}</h2>
<h2>Spawns {{params["setting"]}}</h2>
<h2>Bestiary: </h2>
<p>{{params['bestiary']}}</p>
<h2>My Description: </h2>
<p>{{params['description']}}</p>
{% endblock %}