<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lethal Company - {{title}}</title>
    <link rel="icon" href="/static/images/lethal_icon.png">
</head>

<body>
    {% block header %}
    {% endblock %}
    <h1>
        {% for i in range(33) %}
        -
        {% endfor %}
    </h1>
    {% block content %}
    {% endblock %}
</body>

</html>