{% extends "layout.html" %}

{% block header %}
<h3><a href="/">* BACK</a></h3>
<h1>Admin Login Page</h1>
{% endblock %}

{% block content %}
{% if not admin %}
<form action="/loginregister" method="post">
    <label>Username</label>
    <br>
    <input type="text" name="username" minlength="1" maxlength="{{username_max_length}}" required>
    <br>
    <br>
    <label>Password</label>
    <br>
    <input type="password" name="password" minlength="1" maxlength="{{password_max_length}}" required>
    <br>
    <br>
    <input type="submit" value="Log in">
</form>
{% endif %}
{% if login_message %}
<h1>{{login_message}}</h1>
{% endif %}
{% endblock %}
<!--
<form action="/tools" method="post">
    <select name="sort">
        {% for i in sort %}
        <option value="{{i}}">{{sort[i][0]}}</option>
        {% endfor %}
    </select>

    <select name="sortdir">
        <option value="ASC">Ascending</option>
        <option value="DESC">Descending</option>
    </select>

    <input type="submit" value="Sort">
</form>
-->