{% extends "layout.html" %}

{% block header %}

<h3><a href="/">* BACK</a></h3>
<h1>Welcome to the Moon Catalogue</h1>

{% endblock %}

{% block content %}

{% for moon in params[0] %}

<h1><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h1>
<h2>Price: {{moon['price']}}</h2>

{% endfor %}

<br>

{% for moon in params[1] %}

<h1><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h1>
<h2>Price: {{moon['price']}}</h2>

{% endfor %}

<br>

{% for moon in params[2] %}

<h1><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h1>
<h2>Price: {{moon['price']}}</h2>

{% endfor %}

<br>

{% for moon in params[3] %}

<h1><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h1>
<h2>Price: {{moon['price']}}</h2>

{% endfor %}

{% endblock %}