{% extends "layout.html" %}

{% block header %}
<h3><a href="/moons">* Back</a></h3>
<h1>{{params['name']}}</h1>
{% endblock %}

{% block content %}


{% if params['secret'] %}

<h1>Secret Moon</h1>

{% endif %}
<h1 class="inline">Price: <h2 class="inline">{{params['price']}} credits<h2></h1>
<h2>Risk Level: {{params['risk_level']}}</h2>
<h2>CONDITIONS: {{params['conditions']}}</h2>
<h2>HISTORY: {{params['history']}}</h2>
<h2>FAUNA: {{params['fauna']}}</h2>
<h2>Default layout: {{params['interior']}}</h2>
<h2>Maximum indoor power: {{params['indoor power']}}</h2>
<h2>Maximum outdoor power: {{params['outdoor power']}}</h2>
<h2>Possible weathers: </h2>
{% if params['weathers']|length > 0 %}
{% for weather in params['weathers'] %}

<h3><a href="/weathers/{{weather[0]}}">* {{weather[1]}}</a></h3>

{% endfor %}
{% else %}
<h3>N/A</h3>
{% endif %}

{% endblock %}