{% extends "layout.html" %}

{% block header %}

<h3><a href="/">* BACK</a></h3>
{% if admin %}
<h2><a href="/admin/moons">* Add Moon</a></h3>
{% endif %}
<h1>Welcome to the Moon Catalogue</h1>

{% endblock %}

{% block content %}

{% for i in range(4) %}

{% for moon in params[i] %}
<h1 class="moon-entry">
<a href="/moons/{{moon['id']}}">
<h2>{{moon['name']}}</h2>
<h3>Price: <cred>▮</cred>{{moon['price']}}</h3>
</a>
</h1>
{% endfor %}

<br>

{% endfor %}

<h1>Secret Moons</h1>

{% for moon in params[4] %}
<h1 class="moon-entry">
<a href="/moons/{{moon['id']}}">
<h2>{{moon['name']}}</h2>
<h3>Price: <cred>▮</cred>{{moon['price']}}</h3>
</a>
</h1>
{% endfor %}

{% endblock %}