{% extends "layout.html" %}

{% block header %}

<h3><a href="/">* BACK</a></h3>
<h1>Welcome to the Moon Catalogue</h1>

{% endblock %}

{% block content %}


{% for moon in params[0] %}

<h2><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h2>
<h3>Price: {{moon['price']}} credits</h3>

{% endfor %}

<br>

{% for moon in params[1] %}

<h2><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h2>
<h3>Price: {{moon['price']}}</h3>

{% endfor %}

<br>

{% for moon in params[2] %}

<h2><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h2>
<h3>Price: {{moon['price']}}</h3>

{% endfor %}

<br>

{% for moon in params[3] %}

<h2><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h2>
<h3>Price: {{moon['price']}}</h3>

{% endfor %}

<br>

<h1>Secret Moons</h1>

{% for moon in params[4] %}

<h2><a href="/moons/{{moon['id']}}">{{moon['name']}}</a></h2>
<h3>Price: {{moon['price']}}</h3>

{% endfor %}

{% endblock %}