{% extends "layout.html" %}

{% block header %}
<h3><a href="/moons">Back</a></h3>
<h1>{{params['name']}}</h1>
{% endblock %}

{% block content %}


{% if params['secret'] %}

<h1>Secret Moon</h1>

{% endif %}
<h2>Risk Level: {{params['risk_level']}}</h2>
<h2>Price: {{params['price']}}</h2>
<h2>Default layout: {{params['interior']}}</h2>
<h2>Possible weathers: </h2>
{% if params['weathers']|length > 0 %}
{% for weather in params['weathers'] %}

<h3><a href="/weathers/{{weather[0]}}">* {{weather[1]}}</a></h3>

{% endfor %}
{% else %}
<h3>N/A</h3>
{% endif %}

{% endblock %}