{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/">* HOME PAGE</a></h3>
    <h3><a href="/moons">* BACK</a></h3>
    {% if admin %}
    <h2><a href="/admin/moons/addimage/{{params['id']}}">* Add Image</a></h2>
    <h2><a href="/admin/moons/deleteimage/{{params['id']}}">* Remove Image</a></h2>
    {% endif %}
    <h1 class="page-header">{{title}}</h1>
</div>
<div class="header-image-div">
    <img src="{{url_for('static', filename='images/Moons/' + params['id'] | string + '/' + params['header_picture'])}}" alt="Header Image" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}
{% if params["tier"] == 5 %}

<h1><span class="info">Secret Moon</span></h1>

{% endif %}

<h2>Price: <cred>▮</cred><span class="info">{{params["price"]}}</span></h2>
<h2>Risk Level: <span class="info">{{params["risk_level"]}}</span></h2>
{% if params["interior"]["name"] != "N/A" %}
<h2>Most Common Interior: <a href="/interiors/{{params['interior']['id']}}"><span class="info link">{{params["interior"]["name"]}}</span></a></h2>
{% else %}
<h2>Most Common Interior: <span class="info">{{params["interior"]["name"]}}</span></h2>
{% endif %}

<h2>Maximum Indoor Power: <span class="info">{{params["max_indoor_power"]}}</span></h2>
<h2>Maximum Outdoor Power: <span class="info">{{params["max_outdoor_power"]}}</span></h2>
<h2>Conditions:</h2>
{% if params['conditions'] %}
<p class="descriptions"><span class="info">{{ params["conditions"] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3>No Data</h3>
{% endif %}
<h2>History:</h2>
{% if params['history'] %}
<p class="descriptions"><span class="info">{{ params["history"] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3><span class="info">No Data</span></h3>
{% endif %}
<h2>Fauna:</h2>
{% if params['fauna'] %}
<p class="descriptions"><span class="info">{{ params["fauna"] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3><span class="info">No Data</span></h3>
{% endif %}
<h2>Description:</h2>
{% if params['description'] %}
<p class="descriptions"><span class="info">{{ params["description"] | replace('\n', '<br>' | safe)}}</span></p>
{% else %}
<h3><span class="info">No Description</span></h3>
{% endif %}
<h2>Possible Weathers: </h2>
{% if params["weathers"] %}
{% for weather in params["weathers"] %}

<h3><a href="/weathers/{{weather[0]}}"><span class="info link">* {{weather[1]}}</span></a></h3>

{% endfor %}
{% else %}
<h3><span class="info">No weathers</span></h3>
{% endif %}
<h2>Gallery:</h2>
<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div class="pictures">
        <img src="../static/images/Moons/{{params['id']}}/{{i}}" alt="{{i}}">
    </div>
    {% endfor %}
</div>

{% endblock %}