{% extends "layout.html" %}

{% block header %}

<h3><a href="/">* BACK</a></h3>
{% if admin %}
<h2><a href="/admin/moons/add">* Add Moon</a></h2>
<h2><a href="/admin/moons/delete">* Remove Moon</a></h2>
{% endif %}
<h1>Welcome to the Moon Catalogue</h1>

{% endblock %}

{% block content %}

{% for i in range(5) %}
<div class="grouping-border">
<h1 class="moon-group-header">{{moon_tiers[i]}}</h1>
<br>
{% for moon in params[i] %}

<h1 class="moon-entry">
<a href="/moons/{{moon['id']}}">
<h2 class="link">{{moon['name']}}</h2>
<h3 class="link">Price: <cred class="link">▮</cred>{{moon['price']}}</h3>
</a>
</h1>

{% endfor %}
</div>
<br>

{% endfor %}

{% endblock %}