{% extends "layout.html" %}

{% block header %}
<div class="header-grid">
<div>
    <h3><a href="/moons">* BACK</a></h3>
    <h1>{{title}}</h1>
</div>
<div class="header-image-div">
    <img src="{{url_for('static', filename='images/Moons/' + params['id'] | string + '/' + params['header_picture'])}}" alt="placeholder" class="header-image">
</div>
</div>
{% endblock %}

{% block content %}
{% if params["tier"] == 5 %}

<h1>Secret Moon</h1>

{% endif %}

<h2>Price: <cred>▮</cred>{{params["price"]}}</h2>
<h2>Risk Level: {{params["risk_level"]}}</h2>
{% if params["interior"]["name"] != "N/A" %}
<h2>Most Common Interior: <a href="/interiors/{{params['interior']['id']}}">{{params["interior"]["name"]}}</a></h2>
{% else %}
<h2>Most Common Interior: {{params["interior"]["name"]}}</h2>
{% endif %}

<h2>Maximum Indoor Power: {{params["max_indoor_power"]}}</h2>
<h2>Maximum Outdoor Power: {{params["max_outdoor_power"]}}</h2>
<h2>Conditions:</h2>
<p class="descriptions">{{ params["conditions"] | replace('\n', '<br>' | safe)}}</p>
<h2>History:</h2>
<p class="descriptions">{{ params["history"] | replace('\n', '<br>' | safe)}}</p>
<h2>Fauna:</h2>
<p class="descriptions">{{ params["fauna"] | replace('\n', '<br>' | safe)}}</p>
<h2>Description:</h2>
<p class="descriptions">{{ params["description"] | replace('\n', '<br>' | safe)}}</p>
<h2>Possible Weathers: </h2>

{% for weather in params["weathers"] %}

<h3><a href="/weathers/{{weather[0]}}">* {{weather[1]}}</a></h3>

{% endfor %}

<div class="pictures-grid">
    {% for i in params['pictures'] %}
    <div class="pictures">
        <img src="../static/images/Moons/{{params['id']}}/{{i}}" alt="{{i}}">
    </div>
    {% endfor %}
</div>

{% endblock %}